<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hlwPhotoUsed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>624159EB1DAC975900918FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62415A041DAC975A00918FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62415A0F1DAC975A00918FE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
